alembic==1.0.7
appdirs==1.4.3
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cssselect==1.0.3
cycler==0.10.0
fake-useragent==0.1.11
Flask==0.10.1
Flask-Migrate==2.4.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
gunicorn==19.4.5
html5lib==1.0.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
lxml==4.3.2
Mako==1.0.7
MarkupSafe==1.1.1
matplotlib==3.0.3
nltk==3.4
numpy==1.16.2
parse==1.11.1
psycopg2==2.7.7
pyee==5.0.0
pyparsing==2.3.1
pyppeteer==0.0.25
pyquery==1.4.0
python-dateutil==2.8.0
python-editor==1.0.4
redis==3.2.0
requests==2.21.0
requests-html==0.10.0
rq==0.13.0
selenium==3.141.0
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.8
SQLAlchemy==1.2.18
tqdm==4.31.1
urllib3==1.26.5
w3lib==1.20.0
webencodings==0.5.1
websockets==7.0
Werkzeug==0.14.1
